<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>

<p-table #dt [value]="products" [loading]="isLoading" [rows]="5" [paginator]="true" [globalFilterFields]="['idProducto','titulo']" responsiveLayout="stack"
        [rowHover]="true" dataKey="idProducto" [rowsPerPageOptions]="[5,10,20]"
        selectionMode="single" (onRowSelect)="onRowSelect($event)"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h3 class="m-0"><b>Administrar Productos</b></h3>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="idProducto" style="width: 120px;"><i class="pi pi-qrcode"></i> ID<p-sortIcon field="idProducto"></p-sortIcon></th>
                <th ><i class="pi pi-image"></i> Imagen</th>
                <th pSortableColumn="titulo" style="width: 250px;"><i class="pi pi-ticket"></i> Titulo <p-sortIcon field="titulo"></p-sortIcon></th>
                <th pSortableColumn="stock" style="width: 150px;"><i class="pi pi-box"></i> Stock <p-sortIcon field="stock"></p-sortIcon></th>
                <th pSortableColumn="precio" style="width: 150px;"><i class="pi pi-dollar"></i> Precio <p-sortIcon field="precio"></p-sortIcon></th>
                <th pSortableColumn="status"><i class="pi pi-history"></i> Estado <p-sortIcon field="status"></p-sortIcon></th>
                <th><i class="pi pi-th-large"></i> Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [pSelectableRow]="product">
                <td style="width: 120px;"><span class="p-column-title"><b>ID: </b></span> {{product.idProducto}}</td>
                <td><span class="p-column-title"><b>Imagen: </b></span> <img [src]="product.imgUrl" [alt]="product.titulo" width="100" class="shadow-4" /></td>
                <td style="width: 250px;"><span class="p-column-title"><b>Título: </b></span> {{product.titulo}}</td>
                <td style="width: 150px;"><span class="p-column-title"><b>Stock: </b></span> {{product.stock}}</td>
                <td style="width: 150px;"><span class="p-column-title"><b>Precio: </b></span> {{product.precio}}</td>
                <td>
                  <span class="p-column-title"><b>Estado: </b></span>
                  <p [class]="product.status == 0 ? 'product__inactive' : 'product__active'">{{product.status == 0 ? 'Inactivo' : 'Activo'}}</p>
                </td>
                <td>
                  <ng-template [ngIf]="product.status==0" [ngIfElse]="buttonDeleteProduct">
                    <button pButton pRipple type="button" class="p-button-info" pTooltip="Activar" tooltipPosition="left" icon="pi pi-cloud-upload" (click)="showModalActiveProduct(product)"></button>
                  </ng-template>

                  <ng-template #buttonDeleteProduct>
                    <button pButton pRipple type="button" class="p-button-danger" pTooltip="Inactivar" tooltipPosition="left" icon="pi pi-trash" (click)="showModalDeleteProduct(product)"></button>
                  </ng-template>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total existen {{products ? products.length : 0 }} categorías.
            </div>
        </ng-template>
    </p-table>
