.product__inactive, .product__active{
  width: min-content;
  padding: 3px 8px;
  font-weight: 600;
  border-radius: 3px;
}

.product__inactive{
  background-color: #FFCDD2;
  color: #CA4343;
}

.product__active{
  background-color: #C8E6C9;
  color: #256029;
}