table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-elevation-z8, .container{
  width: 95%;
  margin: 0 auto;
}

.search{
  width: 90%;
}

.container-table{
  height: 600px;
  overflow: auto;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}