<mat-tab-group mat-align-tabs="start" class="d-none d-md-block" mat-align-tabs="center">
    <mat-tab label="First">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            holaa
    </ng-template>
    <div class="px-5 pt-5">
        <button mat-flat-button class="d-none d-md-block button-add-element-large px-5 py-2" color="primary">Agregar Nuevo</button>
    </div>
    <div class="px-5 py-5">
        <div class="row row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-md-center">
          <div class="col"><app-card-detail></app-card-detail></div>
          <div class="col"><app-card-detail></app-card-detail></div>
          <div class="col"><app-card-detail></app-card-detail></div>
          <div class="col"><app-card-detail></app-card-detail></div>
          <div class="col"><app-card-detail></app-card-detail></div>
          <div class="col"><app-card-detail></app-card-detail></div>
        </div>
      </div>

    
    </mat-tab>
</mat-tab-group>