<app-load-overlay 
    [isLoadingOverlay]="isLoadingOverlay"
    [displayOverlay]="displayOverlay"
    [labelOverlay]="labelOverlay"
    [iconOverlay]="iconOverlay"
    [tittleOverlay]="tittleOverlay"
    [url]="urlOverlay"
></app-load-overlay>

<div>
    <button class="buttonBack" pRipple (click)="buttonBack()"> 
        <i class="pi pi-chevron-left"></i> 
    </button>
</div>

<div class="create_category_body">
    <p class="title_create_category"> <i class="pi pi-tag"></i> Información de la Subcategoría</p>
    
    <p class="mt-5 title_image">Imagen</p>
    
    <div class="imageSelect mb-3 mt-2" (click)="photoInput.click()">
        <input class="file-input" accept="image/png, .jpeg, .jpg," (change)="getPhotoSelected($event)" type="file" name="file" hidden #photoInput>
        <ng-template [ngIf]="isExistPhoto" [ngIfElse]="desingImage" >
            <div class="imgSelected">
                <ng-template [ngIf]="isEdit" [ngIfElse]="photoSelectedImage">
                    <img src="{{subCategory.urlImage}}" alt="Image" height="250px">
                </ng-template>
                <ng-template #photoSelectedImage>
                    <img src="{{photoSelected}}" alt="Imagen Seleccionada" height="250px">
                </ng-template>
            </div>
        </ng-template>
        <ng-template #desingImage>
            <div class="designeImagen">
                <i class="pi pi-images"></i>
                <p>Click Para Buscar Imagen</p>
                <p>Tamaño máximo: 4MB</p>
                <p>Tipo de imagen aceptado: (.png, .jpeg, .jpg)</p>
            </div>
        </ng-template>
    </div>

    <ng-template [ngIf]="isExistPhoto">
       <div class="information_image">
           <div class="text_image">
               <i class="pi pi-image"></i>
               <ng-template [ngIf]="isEdit" [ngIfElse]="informationPhotoSelected">
                   <p class="text_information_image">{{subCategory.urlImage}}</p>
               </ng-template>
               <ng-template #informationPhotoSelected>
                   <p class="text_information_image">{{fileTmp.fileName}}</p>
               </ng-template>
            </div>
            <div >
                <button class="button_clear" (click)="clearImage()" pRipple>
                    <i class="pi pi-times"></i>
                </button>
            </div>
       </div>
    </ng-template>

    <p class="mt-5 title_image">Título</p>
    <div class="p-fluid grid">
        <div class="field col-12">
            <input type="text" pInputText [(ngModel)]="subCategory.titulo"> 
        </div>
    </div>

    <p class="mt-2 title_image">Descripción</p>
    <div class="p-fluid grid">
        <div class="field col-12">
            <span class="p-float-label">
                <textarea inputId="textarea" rows="3" style="resize: none;" [rows]="6"  [(ngModel)]="subCategory.descripcion" pInputTextarea></textarea>
            </span>
        </div>
    </div>

    <p class="title_create_category mb-4"> <i class="pi pi-check-square"></i> Selección de Categorías</p>

    <div class="checkboxes_subcategories mb-6">
        <ng-template [ngIf]="isLoading" [ngIfElse]="checkSubCategories">
            <p-progressSpinner></p-progressSpinner>
        </ng-template>

        <ng-template #checkSubCategories>
            <div class="field-checkbox"  *ngFor="let category of categories">
                <p-checkbox [name]="category.titulo" [value]="category" [(ngModel)]="selectedCategories" [inputId]="category.titulo" ></p-checkbox>
                <label [for]="category.titulo">{{category.titulo}}</label>
            </div>
        </ng-template>
    </div>
</div>

<div class="flex justify-content-center aling-items-center mb-5">
    <button class="create_button" pRipple (click)="selectFunctionCategory()">
        <i class="pi pi-check"></i>
        {{labelButton + " subcategoría" | uppercase}}
    </button>
</div>

