<main class="container pt-3">
  <div class="px-5 py-5" style="overflow-x: hidden; max-width: 100vw!important">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-md-center">
      <div class="col p-2">
        <app-card-skeleton></app-card-skeleton>
      </div>
      <div class="col p-2">
        <app-card-skeleton></app-card-skeleton>
      </div>
      <div class="col p-2">
        <app-card-skeleton></app-card-skeleton>
      </div>
      <div class="col p-2 d-none d-md-block">
        <app-card-skeleton></app-card-skeleton>
      </div>
      <div class="col p-2 d-none d-md-block">
        <app-card-skeleton></app-card-skeleton>
      </div>
      <div class="col p-2 d-none d-md-block">
        <app-card-skeleton></app-card-skeleton>
      </div>
      <div class="col p-2 d-none d-md-block">
        <app-card-skeleton></app-card-skeleton>
      </div>
      <div class="col p-2 d-none d-md-block">
        <app-card-skeleton></app-card-skeleton>
      </div>
    </div>
  </div>
</main>
