<section>
    <div class="grid">
        <div class="col-12 md:col-7">
            <div class="image__product__detail">
                <p-image src="https://computron.com.ec/pub/media/catalog/product/cache/c76236561964e7fb03cdd328a54ff569/f/0/f0eu00lgld-11.jpg" alt="Image" width="350" [preview]="true"></p-image>
            </div>
        </div>
        <div class="col-12 md:col-5">
            <div class="detail__image__product">
                <p class="tittle__product">
                    COMPUTADOR AIO LENOVO 3 24IMB05 CI3-10100T 3.0GHZ-8GB-128GB SSD+1TB-NEGRO-23.8"FHD-W10-GRATIS PARLANTE XT-A9RD Y AUDIFONO+MICROFONO KSH-280
                </p>
                <div class="brand__price__product">
                    <p class="brand__product">Lenovo</p>
                    <p class="price__product">$739.98</p>
                </div>
                <div class="available__stock__product flex gap-1">
                    <p>Disponibilidad: </p> 
                    <span>En Stock</span>
                </div>
                <div class="grid">
                    <div class="col-5 md:col-12 lg:col-4" style="padding: 0px;">
                        <div>
                            <p-inputNumber [size]="1" [(ngModel)]="amountProduct" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                                [min]="0" [max]="100" decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                            </p-inputNumber>    
                        </div>
                    </div>
                    <div class="col-7 md:col-12 lg:col-8" style="padding: 0px;">
                        <div class="layout__button__add">
                            <button class="add__button__cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>
                    <div class="col-12" style="padding: 0px; margin-top: 10px;">
                        <div class="layout__button__add">
                            <button class="buy__button">COMPRAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="information__image__product">
        <p-divider align="center">
            <div class="inline-flex align-items-center">
                <i class="pi pi-th-large mr-2"></i>
                <b class="tittle__detail__product">Detalles Del Producto</b>
            </div>
        </p-divider>
    </div>
</section>