<ng-template [ngIf]="isLoading" [ngIfElse]="contentDetailProduct">
    <app-skeleton-product-main-detail [isLoading]="isLoading"></app-skeleton-product-main-detail>
</ng-template>

<ng-template #contentDetailProduct>
    <section>
        <div class="grid">
            <div class="col-12 md:col-7">
                <div class="image__product__detail">
                    <p-image [src]="productResponse.product.imgUrl" alt="Image" width="490" [preview]="true"></p-image>
                </div>
            </div>
            <div class="col-12 md:col-5">
                <div class="detail__image__product">
                    <div class="tittle__description__product">
                        <p class="tittle__product">
                            {{productResponse.product.titulo | uppercase}}
                        </p>
                        <span class="description__product">
                            {{productResponse.product.descripcion}}
                        </span>
                    </div>
                    <div class="brand__price__product">
                        <p class="price__product">${{productResponse.product.precio}}</p>
                    </div>
                    
                    <p class="brand__product">Stock: {{productResponse.product.stock}}</p>
                    <div class="available__stock__product flex gap-1">
                        <p>Disponibilidad: </p> 
                        <span>{{productResponse.product.stock > 0 ? 'En Stock' : 'Sin Existencias'}}</span>
                    </div>
                    <div class="grid">
                        <div class="col-5 md:col-12 lg:col-4" style="padding: 0px;">
                            <div>
                                <p-inputNumber [size]="1" [(ngModel)]="amountProduct" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                                    [min]="0" [max]="productResponse.product.stock" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                                </p-inputNumber>    
                            </div>
                        </div>
                        <div class="col-7 md:col-12 lg:col-8" style="padding: 0px;">
                            <div class="layout__button__add">
                                <button class="add__button__cart" pRipple><i class="pi pi-shopping-cart"></i> AGREGAR AL CARRITO</button>
                            </div>
                        </div>
                        <div class="col-12" style="padding: 0px; margin-top: 10px;">
                            <div class="layout__button__add">
                                <button class="buy__button flex justify-content-center align-items-center" pRipple><i class="pi pi-box mr-1"></i> COMPRAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="information__image__product">
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <i class="pi pi-bookmark-fill mr-2"></i>
                    <b class="tittle__detail__product">Detalles Del Producto</b>
                </div>
            </p-divider>
    
            <div class="content__detail__product">
                <ng-template [ngIf]="productResponse.detail.length > 0" [ngIfElse]="notFound">
                    <div class="carousel">
                        <p-carousel [value]="productResponse.detail" [circular]="true" [autoplayInterval]="3000" [numVisible]="1" [numScroll]="1" [circular]="false">
                            <ng-template let-detail pTemplate="item">
                                <div class="detail__content grid">
                                    <div class="image__detail__carousel col-12 md:col-12 lg:col-5 ">
                                        <img [src]="!detail.urlImg ? productResponse.product.imgUrl || null : detail.urlImg">
                                    </div>
                                    <div class="tittle__description__detail__carousel col-12 md:col-12 lg:col-7 ">
                                        <div class="tittle__detail__carousel">
                                            <p>{{detail.tituloDetalle}}</p>
                                        </div>
                                        <div class="description__detail__carousel">
                                            <p>{{detail.descripcion}}</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-carousel>
                    </div>
                </ng-template>
            </div>
        </div>
    </section>
</ng-template>


<ng-template #notFound>
    <div class="image__not__found">
        <img [src]="urlImageNotFound" alt="Sin resultados">
    </div>
</ng-template>