<!-- <app-header-admin-edit
    [isLoading]="isLoading"
    [content]="contentHeader"
>
</app-header-admin-edit>


<app-content-admin-edit
    [isLoading]="isLoading"
>
    <div *ngIf="!isLoading" class="mb-5">
        <mat-accordion class="d-md-none">
            <app-expansion-panel 
                [detail]="productDetail">
            </app-expansion-panel>
            <h3 class="my-2 mt-4 text-center">
                <strong>Categorias</strong>
            </h3>
            <app-expansion-panel
                [detail]="productCategory.elements[0]">
            </app-expansion-panel>
        </mat-accordion>
    </div>

    <mat-tab-group *ngIf="!isLoading" class="d-none d-md-block pb-5" mat-align-tabs="center" style='min-height:80rem;'>
        <mat-tab>
            <ng-template mat-tab-label>{{productDetail.title}}</ng-template>
            <app-tabs 
                [detail]="productDetail"
                tabTitle="asdas"
            ></app-tabs>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label >{{productCategory.title}}</ng-template>
            <app-tabs-mixed
                [detail]="productCategory"
                tabTitle="asdas"
            ></app-tabs-mixed>
        </mat-tab>
    </mat-tab-group>
</app-content-admin-edit> -->
<p>ASDASDA</p>