
<app-header-detail-skeleton *ngIf="isLoading"></app-header-detail-skeleton>

    <header class="header-container d-md-flex" *ngIf="!isLoading">
        <button mat-icon-button color="accent" class="goBackIconButton d-flex" routerLink="/admin/productos">
            <mat-icon class="fs-1" color="primary">arrow_back_ios_new</mat-icon>
        </button>
    
        <div class="detail-large d-md-flex p-md-3 flex-md-column justify-content-md-evenly">
            <div>
                <h1 class="text-center pt-4 fw-bolder fs-1">{{product?.product?.titulo}}</h1>
                <p class="text-center fst-italic">{{product?.product?.descripcion}}</p>
                <h2 class="fs-1 text-center p-2 fw-bolder mb-0">{{ product?.product?.precio | currency}} 
                    <span class="fst-italic fw-light fs-3">por {{ product?.product?.minimaUnidad }} {{ product?.unidadMedida?.unidad }}</span>
                </h2>
            </div>
                <button mat-flat-button class="d-none d-md-block button-edit-product-large px-5 py-2" color="primary">Editar</button>
        </div>
        
        <div class="px-3 image-large">
            <img class="img-fluid" [src]="product?.product?.imgUrl" alt="titulo">
        </div>
        
        <button mat-fab color="accent" class="config-product d-md-none">
            <mat-icon>border_color</mat-icon>
        </button>
    </header>

<app-content-detail-skeleton *ngIf="isLoading"></app-content-detail-skeleton>

    <main class="px-0 pt-4" *ngIf="!isLoading">
        <mat-accordion class="d-md-none">
            <app-expansion-panel 
                [detail]="productDetail">
            </app-expansion-panel>
            <h3 class="my-2 mt-4 text-center">
                <strong>Categorias</strong>
            </h3>
            <app-expansion-panel
                [detail]="productCategory.elements[0]">
            </app-expansion-panel>
        </mat-accordion>
    

        
        <mat-tab-group  class="d-none d-md-block pb-5" mat-align-tabs="center" style='min-height:80rem;'>
            <mat-tab>
                <ng-template mat-tab-label>{{productDetail.title}}</ng-template>
                <app-tabs 
                    [detail]="productDetail"
                    tabTitle="asdas"
                ></app-tabs>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>{{productDetail.title}}</ng-template>
                <app-tabs 
                    [detail]="productDetail"
                    tabTitle="asdas"
                ></app-tabs>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label >{{productCategory.title}}</ng-template>
                <app-tabs-mixed
                    [detail]="productCategory"
                    tabTitle="asdas"
                ></app-tabs-mixed>
            </mat-tab>
        </mat-tab-group>

    </main>

    