
<div class="pt-5">
  <div class="flex flex-wrap flex-wrap-reverse md:flex-wrap grid">
    <div class="col-12 md:col-8">
      <app-table 
        [_products]="productsTable" 
        [isLoading]="_isLoading"
        (deleteAll)="deleteAll()"
        (removeProduct)="removeSelectedProduct($event)"
        (productEdited)="updateProductInStorage($event)"
        ></app-table>
    </div>
    <div class="col-12 md:col-4">
      <div *ngIf="productsTable.length > 0">
        <app-order-summary 
        (buyProducts) = "sendData()" 
        [_products]="productsTable"
        ></app-order-summary>
      </div>
    </div>
  </div>
</div>
