<mat-card class="mt-2 cardTheme">
    <div class="buttons-action">
      <button mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>mode_edit_outline_rounded</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>backspace_rounded</mat-icon>
      </button>
    </div>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    <span class="ms-2"><strong>Titulo</strong></span>
    <p class="mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    
    
  </mat-card>