<section>
    <app-modal-error-prime-ng [displayModal]="isOpenModalError"></app-modal-error-prime-ng>

    <div class="grid content_categories" style="width: 100%">
        <div class="card_categories col-3 md:col-3" style="height: 100%;">
            <p-card class="card_category">
                <ng-template [ngIf]="isLoadingCategoriesOverlay" [ngIfElse]="categories">
                    <app-overlay-card-categories [isLoadingCategories]="isLoadingCategoriesOverlay"></app-overlay-card-categories>
                </ng-template>
                <ng-template #categories>
                    <h2 class="card_categories_tittle"><i class="pi pi-tags"></i> Categorías</h2>
                    <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
                </ng-template>
            </p-card>
        </div>
        <div class="col-9 md:col-9 content_products">
            <app-table-products [_products]="_products" [isLoading]="isLoading"></app-table-products>
        </div>
    </div>
</section>
