
  <div class="grid text-right" style="max-width: 100%; padding: 0px; margin: 0px;">
    <div class="col-8 md:col-4 flex align-items-center justify-content-center">
      <img class="img-fluid cursor" style="max-width: 80%;" src="assets/images/vertical-logo.png" alt="logo" routerLink="/">
    </div>
    <div class="col-4 md:col-3 mt-2 flex justify-content-evenly align-items-center" >
      
      <div *ngIf="!isAdminUser">
        <button pButton pRipple type="button" icon="pi pi-user" 
        class="p-button-rounded"
          (click)="handleUser()"
        ></button>
         <p class="m-0 text-center">Cuenta</p>
      </div>
      <div *ngIf="isAdminUser">
        <button pButton pRipple type="button" icon="pi pi-shield" 
          class="p-button-rounded p-button-danger"
          routerLink="/admin"
        ></button>
        <p class="m-0 text-center">Admin</p>
      </div>
      <div *ngIf="!isAdminUser">
        <button pButton pRipple type="button" icon="pi pi-shopping-cart" 
          class="p-button-rounded p-button-success"
          >
        </button>
        <p class="m-0 text-center">Carrito</p>
      </div>
    </div>
    
    
    

    <div class="col-12 md:col-5 mt-2 text-center">
      <div class="p-col-12 p-md-4">
          <div class="p-inputgroup">
              <button type="button" pButton pRipple label="Buscar"></button>
              <input type="text" pInputText placeholder="Producto - Categoría">         
          </div>
      </div>
    </div>

  </div>

  


<!-- <app-sidenav></app-sidenav>
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    
    <span>My App</span>
    <span class="example-spacer"></span>
    <button (click)="handleUrl()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matBadge="15" matBadgeColor="warn"></mat-icon>
    </button>
</mat-toolbar> -->