<footer style="background-color: var(--black-color);">
  <div class="container pt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" style="max-width: 90rem; margin: 0 auto; width: 95%;">
      <div class="col mb-3">
        <h3 style="color: var(--white-color)" class="text-center text-sm-start">Redes Sociales</h3>
        <ul class="p-0 d-flex justify-content-center justify-content-sm-start">
          <li *ngFor="let item of socialNetworks">
            <a class="d-flex align-items-center no-underline" [href]="item.url" target="_blank">
              <i [class]="item.icon" style="color: white; font-size: 2rem"></i>
              <p style="color: var(--white-color)" class="ms-2 mb-0">{{item.title}}</p>
            </a>
          </li>
        </ul>
      </div>

      <div class="col mb-3">
        <h3 style="color: var(--white-color)" class="text-center text-sm-start">Categorias</h3>
        <mat-chip-list aria-label="Categories" class="categories-footer">
          
          <p-chip 
            *ngFor="let item of categories" 
            color="primary" 
            [label]="item.titulo" 
            styleClass="p-mr-2 m-1 custom-chip"
            (click)="handleCategoryClick(item)"
          ></p-chip>
        </mat-chip-list>
      </div>

      <div class="col mb-3">
        <h3 style="color: var(--white-color)" class="text-center text-sm-start">Contáctanos</h3>
        <ul class="p-0">
          <li class="d-flex justify-content-center justify-content-sm-start align-items-center" 
            *ngFor="let item of socialNetworks">
            <a class="d-flex align-items-center no-underline" [href]="item.url" target="_blank">
              <p style="color: var(--white-color)" class="mr-2 mb-0">{{item.title}}</p>
              <i [class]="item.icon" style="color: white; font-size: 2rem"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col mb-3">
        <h3 style="color: var(--white-color)" class="text-center text-sm-start">Contacto</h3>
        <ul class="p-0" style="color: var(--white-color)">
          <p class="text-center text-sm-start">Pitágoras #616, Narvarte Poniente,
            Benito Juárez, CDMX, 03020
            ventas@carnesideal.tienda
            55 5536 0785</p>
        </ul>
      </div>

    </div>

    <p class="m-0 mt-3 text-center" style="color: var(--white-color)">Carnicería Zamorano | Todos los derechos reservados
      2022</p>

    <div class="md:hidden padding-footer"></div>
  </div>
</footer>
