<section>
    <div class="header__detail">
        <div class="header__detail__description">
            <div>
                <button class="buttonBack" pRipple> 
                    <i class="pi pi-chevron-left"></i> 
                </button>
            </div>
            <div class="title_header">
                <p>Costillar de Cerdo</p>
            </div>
            <div class="description_header">
                <p>La mejor costilla de cerdo fresca y lista para comer</p>
            </div>
            <div>
                <button class="button_Edit" pRipple>
                    <i class="pi pi-pencil"></i>
                    Editar
                </button>
            </div>
        </div>
        <div class="header__detail__image">
            <img src="https://i.blogs.es/bf2ecf/1366_2000-1-/450_1000.jpg" alt="">
        </div>
    </div>
    <div class="body__detail">
        <p>ASDASDSA</p>
    </div>
</section>
