<section>
    <div class="header__detail">
        <div class="header__detail__description">
            <div>
                <button class="buttonBack" pRipple (click)="buttonBack()"> 
                    <i class="pi pi-chevron-left"></i> 
                </button>
            </div>
            
            <ng-template [ngIf]="isLoading">
                <p-skeleton height="2rem" width="25em" styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2" width="15em"></p-skeleton>
                <p-skeleton width="7.1rem" height="3rem"></p-skeleton>
            </ng-template>
            
            <div class="title_header">
                <p *ngIf="!isLoading">{{category.titulo}}</p>
            </div>
            <div class="description_header">
                <p *ngIf="!isLoading">{{category.descripcion}}</p>
            </div>
            <div>
                <button class="button_Edit" pRipple *ngIf="!isLoading" (click)="redirectEditPage()">
                    <i class="pi pi-pencil"></i>
                    Editar
                </button>
            </div>
        </div>
        <div class="header__detail__image">
            <p-skeleton width="100%" height="100%" *ngIf="isLoading"></p-skeleton>
            <img [src]="category.urlImage" [alt]="category.titulo" *ngIf="!isLoading">
        </div>
    </div>
    <div class="body__detail">
        <div class="title_body">
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <i class="pi pi-inbox mr-2"></i>
                    <b>Subcategorias</b>
                </div>
            </p-divider>
        </div>
        <div class="mb-4">
            <ng-template [ngIf]="isLoading" [ngIfElse]="addSubCategory">
                <div class="skeleton__button__add__category">
                    <p-skeleton width="12rem" height="3rem"></p-skeleton>
                </div>
            </ng-template>

            <ng-template #addSubCategory>
                <button class="button_add_subcategory" pRipple>
                    <i class="pi pi-plus"></i>
                    Agregar Subcategoría
                </button>
            </ng-template>
        </div>
        
        <div class="cards_body gap-3">
            <ng-template [ngIf]="isLoading">
               <app-card-skeleton-subcategories></app-card-skeleton-subcategories>
            </ng-template>

            <div *ngFor="let subCategory of category.subCategoria" style="height: 100%;">
                <p-card [header]="subCategory.titulo" [style]="{width: '300px', height : '100%'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" [src]="!subCategory.urlImage ? category.urlImage : subCategory.urlImage " height="200px">
                    </ng-template>
                    <p>{{subCategory.descripcion}}</p>
                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-pencil"></p-button>
                        <p-button icon="pi pi-times" styleClass="p-button-danger" [style]="{'margin-left': '.5em'}"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>

    </div>
</section>
