<div>
    <div *ngIf="hasTitle">
        <h1 mat-dialog-title class="text-center" color="primary">{{this.data.title}}</h1>
    </div>
    <div mat-dialog-content>
        <div [innerHtml] = "contentHtml"></div>
    </div>
    <mat-dialog-actions align="center" *ngIf="hasButtonPrimary || hasButtonSecundary">
        <button mat-raised-button *ngIf="hasButtonSecundary" (click)="clickSecundaryBtn()" mat-button mat-dialog-close>{{this.data.secundaryButton?.name}}</button>
        <button 
            mat-raised-button 
            [routerLink]="this.data.goBackLink"
            *ngIf="hasButtonPrimary" 
            mat-rised-button 
            color="primary" 
            mat-button 
            cdkFocusInitial 
            mat-dialog-close 
            (click)="clickPrimaryBtn()">
                {{this.data.primaryButton?.text}}
        </button>
    </mat-dialog-actions>
</div>