<section>
    <div class="grid">
        <div class="col-12 md:col-7">
            <div class="image__product__detail">
                <p-skeleton width="450px" height="380px"></p-skeleton>
            </div>
        </div>
        <div class="col-12 md:col-5">
            <div class="detail__image__product">
                <div class="tittle__description__product">
                    <p class="tittle__product">
                        <p-skeleton width="40%" height="40px"></p-skeleton>
                    </p>
                    <span class="description__product">
                        <p-skeleton height="15px" borderRadius="16px"></p-skeleton>
                        <p-skeleton height="15px"  styleClass="mt-2" borderRadius="16px"></p-skeleton>
                    </span>
                </div>

                <div class="price__product mt-6">
                    <p-skeleton width="20%" height="35px"></p-skeleton>
                    <p-skeleton styleClass="mt-2" width="10%" height="10px" borderRadius="16px"></p-skeleton>
                    <p-skeleton styleClass="mt-2" width="25%" height="10px" borderRadius="16px"></p-skeleton>
                </div>

                <div class="grid mt-4">
                    <div class="col-5 md:col-12 lg:col-4" style="padding: 0px;">
                        <p-skeleton styleClass="mb-2" width="90%" height="40px"></p-skeleton> 
                    </div>

                    <div class="col-7 md:col-12 lg:col-8" style="padding: 0px;">
                        <p-skeleton width="100%" height="40px"></p-skeleton>
                    </div>
                    
                    <div class="col-12" style="padding: 0px; margin-top: 10px;">
                        <p-skeleton width="100%" height="40px"></p-skeleton>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="information__image__product">
        <p-divider align="center">
            <div class="inline-flex align-items-center">
                <i class="pi pi-bookmark-fill mr-2"></i>
                <b class="tittle__detail__product">Detalles Del Producto</b>
            </div>
        </p-divider>

        <div class="content__detail__product">
            <div class="detail__content grid">
                <div class="image__detail__carousel col-12 md:col-12 lg:col-5 ">
                    <p-skeleton width="100%" height="300px"></p-skeleton>
                </div>
                <div class="tittle__description__detail__carousel col-12 md:col-12 lg:col-7 ">
                    <div class="tittle__detail__carousel">
                        <p-skeleton width="30%" height="30px"></p-skeleton>
                    </div>
                    <div class="description__detail__carousel mt-3">
                        <p-skeleton styleClass="mt-2" width="100%" height="13px"></p-skeleton>
                        <p-skeleton styleClass="mt-2" width="100%" height="13px"></p-skeleton>
                        <p-skeleton styleClass="mt-2" width="100%" height="13px"></p-skeleton>
                        <p-skeleton styleClass="mt-2" width="100%" height="13px"></p-skeleton>
                        <p-skeleton styleClass="mt-2" width="100%" height="13px"></p-skeleton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
