<mat-card style="width: fit-content; margin: 0 auto;" class="p-4">
    <img 
        style="max-width: 17rem;" 
        class="px-3 mb-2"
        mat-card-image src="assets/images/carne.png" 
        alt="imagen"
    >
    <mat-card-title>Titulo del producto</mat-card-title>
    <mat-card-subtitle><p >Titulo del producto</p></mat-card-subtitle>
    <mat-card-actions class="">
        <button
        mat-raised-button
        color="primary" 
        class="px-4 py-1">
            Añadir al carrito
        </button>
    </mat-card-actions>
</mat-card>