<mat-card style="width: fit-content; margin: 0 auto;" class="p-4">
    <img 
        style="max-width: 17rem;" 
        class="px-3 mb-2"
        mat-card-image [src]="imgUrl" 
        [alt]="title"
    >
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle><p >{{description}}</p></mat-card-subtitle>
    <div class="d-flex justify-content-between">
        <p class="m-0 fs-6"><span class="fw-bolder">Stock: </span>{{stock}}</p>
        <p class="m-0 fs-6"><span class="fw-bolder">Mínimo: </span>{{minimaUnidad}} <span class="fw-bolder">{{unidadMedida}}</span></p>
    </div>
    <div class="d-flex w-50">
        <app-counter
            [maxNumber] = "stock"
            (counter) = "counterResult($event)"
        ></app-counter>
    </div>
    <mat-card-actions class="d-flex justify-content-between">
        <button
        mat-raised-button
        [color]="isCarItem ? 'accent' : 'primary'" 
        class="px-4 py-1"
        (click)="handleAddToCar()">
            {{isCarItem 
                ? "Quitar de carrito"
                : "Añadir al carrito"
            }}
        </button>
        <div class="d-flex align-items-center">
            <p class="m-0 fs-3 fw-bold"><span class="fw-bolder"></span>{{totalPriceCard | currency}}</p>
        </div>
    </mat-card-actions>
</mat-card>