.container{
  min-width: 300px!important;
  padding: 0px;
}

.tab-holaaa{
  font-size: 25px!important;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  transition: all 0.3s ease;
  overflow: hidden!important;
}
.example-card:hover {
  background: rgba(209, 209, 209, 0.867);
  
}

.example-header-image {
  background-size: cover;
}

.espacer-hight{
  height: 3rem;
}

.item-simple:hover{
  cursor: pointer;
}