
  
  <p-divider align="left" type="dashed">
    <b>Categorías</b>
  </p-divider>

  <ng-container *ngIf="!_isLoadingCategory; else skeleton">
    <div *ngFor="let item of categories"
      (click)="closeSideNav()"
      class="py-1"
    >
      <app-item
        [image]="item.urlImage"
        [title]="item.titulo"
        [url]="'/categoria/'+item.idCategoria"
      ></app-item>
    </div>
  </ng-container>

  <ng-template #skeleton>
    <div class="flex">
      <p-skeleton
        shape="circle"
        size="4rem"
        styleClass="p-mr-2"
      ></p-skeleton>
      <div style="flex: 1">
        <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </div>
  </ng-template>

  <p-divider type="dashed"></p-divider>

  <div class="mt-5">
    <div 
      (click)="closeSideNav()"
      class="flex-1 flex align-items-center justify-content-center text-white m-2 px-5 py-3 border-round item-simple" 
      style="background-color: #541313;">
        Promociones
    </div>
    <div 
      (click)="closeSideNav()"
      class="flex-1 flex align-items-center justify-content-center text-white m-2 px-5 py-3 border-round item-simple" 
      style="background-color: #541313;">
        Nosotros
    </div>
    <div 
      (click)="closeSideNav()"
      class="flex-1 flex align-items-center justify-content-center text-white m-2 px-5 py-3 border-round item-simple" 
      style="background-color: #541313;">
        Localidad
    </div>
  </div>