<mat-card>
    <ngx-skeleton-loader count="1" [theme]="{ 
      'border-radius': '5px',
      height: '10px',
      width: '50%',
      'background-color': '#d1d1d1'
      }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="1" [theme]="{ 
      'border-radius': '5px',
      height: '50px',
      'background-color': '#d1d1d1'
      }"></ngx-skeleton-loader>
    <div class="text-center">
      <ngx-skeleton-loader count="1" [theme]="{ 
      'border-radius': '5px',
      height: '10px',
      width: '50%',
      'background-color': '#d1d1d1'
      }"></ngx-skeleton-loader>
    </div>
  </mat-card>