<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let item of communications">
      <div class="view w-100 carouselImage"
        [style.background-image] = "'url('+item.urlImage+')'">
      </div>
      <div class="carousel-caption">
        <div class="mb-sm-6 mb-md-5">
          <h3 class="h3-responsive d-inline box-shadow px-5 py-3">{{item.titulo}}</h3>
        </div>
        <button *ngIf="item.tituloBoton"
        mat-raised-button
        color="primary" 
        class="px-4 py-1"
        (click)="handleClickBtn(item.idTipoComunicacion, item.idComunicacion)"
        >
            {{item.tituloBoton}}
        </button>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>