<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false"
  class="expansion-admin-information"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{detail.title}}
    </mat-panel-title>

  </mat-expansion-panel-header>
  <div
     matRipple
     [matRippleCentered]="true"
     class="p-2 py-1 ripple rounded d-flex justify-content-center align-items-center"
     *ngIf="detail.actionAdd"
     
     >
     <p class="text-center mb-0">
       {{detail.actionAdd.title}}
      </p>
      <mat-icon *ngIf="detail?.actionAdd?.icon" aria-hidden="false" aria-label="Example home icon" class="ms-1">{{detail.actionAdd.icon}}</mat-icon>
  </div>

  <app-card-detail
  *ngFor="let cardContent of detail.card"
    [content]="cardContent"
  ></app-card-detail>
  <div class="p-2"></div>
</mat-expansion-panel>
