<div class="container-md p-0">
  <app-carousel-slide
    [communications]="communications"
  ></app-carousel-slide>
</div>
<section class="container mt-5">
    <h1 class="text-center">{{"Disfruta de tus comidas en familia" | uppercase}}</h1>
    <p>
        Sabor y suavidad natural, sin conservadores ni inyección de agua. La mejor calidad en carne fresca de res, cerdo, ternera y pollo directamente hasta tu hogar.
    </p>

</section>
<div style="">
  <app-fixed-image
    title="La mejor carne"
    url="assets/images/carne.png"
  ></app-fixed-image>
</div>
<section class="mt-5 container">
    <h1 class="text-center">{{"Categorias" | uppercase}}</h1>
        <div class="row d-flex justify-content-start">
          <div 
            *ngFor="let element of categories"
            class="col-12 col-sm-6 col-lg-3 mb-5">
            <app-image-card
                [title]="element.titulo"
                titleBtn="Ver Productos"
                [url]="url+element.idCategoria"
                [urlImage]="element.urlImage"
            ></app-image-card>
          </div>
        </div>
</section>

<section class="container mt-5">
  <h1 class="text-center">{{"Recomendaciones" | uppercase}}</h1>
  <div class="row d-flex justify-content-start">
    <div 
      *ngFor= "let item of allProducts"
      class="col-12 col-sm-6 col-lg-3 mb-5"
    >
      <app-product-card
        [id] = "item.product.idProducto"
        [imgUrl] = "item.product.imgUrl"
        [title] = "item.product.titulo"
        [description] = "item.product.descripcion"
        [stock] = "item.product.stock"
        [unidadMedida] = "item.unidadMedida.unidad"
        [minimaUnidad] = "item.product.minimaUnidad"
        [price] = "item.product.precio"
        (handleAmountProductCar) = "handleAmountProductCar($event)"
        (removeProductCar) = "removeProductCar($event)"
      ></app-product-card>
    </div>
  </div>
</section>

<section class="container mt-5 mb-5">
  <h1 class="text-center">{{"Confianza" | uppercase}}</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="col mb-3">
        <div class="row d-flex justify-content-evenly align-items-center">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 6rem;">home</mat-icon>
          </div>
          <div class="col-8">
            <h2 class="mb-1">Frescura</h2>
            <p>Nuestras carnes son 100% frescas y recién cortadas.</p>
          </div>
        </div>
      </div>

      <div class="col mb-3">
        <div class="row d-flex justify-content-evenly align-items-center">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 6rem;">local_dining</mat-icon>
          </div>
          <div class="col-8">
            <h2 class="mb-1">Cortada a mano</h2>
            <p>Nuestros carniceros cortan la carne el día que se surte el pedido.</p>
          </div>
        </div>
      </div>

      <div class="col mb-3">
        <div class="row d-flex justify-content-evenly align-items-center">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 6rem;">military_tech</mat-icon>
          </div>
          <div class="col-8">
            <h2 class="mb-1">Calidad de carne</h2>
            <p>Nuestros proveedores nos brindan las mejores carnes.</p>
          </div>
        </div>
      </div>

  </div>
</section>