<div class="container-md p-0">
  <app-carousel-slide></app-carousel-slide>
</div>
<section class="container mt-5">
    <h1 class="text-center">{{"Disfruta de tus comidas en familia" | uppercase}}</h1>
    <p>
        Sabor y suavidad natural, sin conservadores ni inyección de agua. La mejor calidad en carne fresca de res, cerdo, ternera y pollo directamente hasta tu hogar.
    </p>
    <!-- <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Action
    </button> -->
</section>
<div style="">
  <app-fixed-image
    title="La mejor carne"
    url="assets/images/carne.png"
  ></app-fixed-image>
</div>
<section class="mt-5 container">
    <h1 class="text-center">{{"Categorias" | uppercase}}</h1>
        <div class="row d-flex justify-content-between">
          <div class="col-12 col-sm-6 col-lg-3 mb-5">
            <app-image-card
                title="Preferidos"
                titleBtn="Ver Productos"
                [url]="url"
            ></app-image-card>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 ">
            <app-image-card
                title="Preferidos"
                titleBtn="Ver Productos"
                [url]="url"
            ></app-image-card>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 ">
            <app-image-card
                title="Preferidos"
                titleBtn="Ver Productos"
                [url]="url"
            ></app-image-card>
          </div>
        </div>
</section>

<section class="container mt-5">
  <h1 class="text-center">{{"Recomendaciones" | uppercase}}</h1>
  <div class="row d-flex justify-content-between">
    <div class="col-12 col-sm-6 col-md-3 mb-5">
      <app-product-card></app-product-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-5">
      <app-product-card></app-product-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-5">
      <app-product-card></app-product-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-5">
      <app-product-card></app-product-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-5">
      <app-product-card></app-product-card>
    </div>
  </div>
</section>

<section class="container mt-5">
  <h1 class="text-center">{{"Confianza" | uppercase}}</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="col mb-3">
        <div class="row d-flex justify-content-evenly align-items-center">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 6rem;">home</mat-icon>
          </div>
          <div class="col-8">
            <h2 class="mb-1">Frescura</h2>
            <p>Nuestras carnes son 100% frescas y recién cortadas.</p>
          </div>
        </div>
      </div>

      <div class="col mb-3">
        <div class="row d-flex justify-content-evenly align-items-center">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 6rem;">local_dining</mat-icon>
          </div>
          <div class="col-8">
            <h2 class="mb-1">Cortada a mano</h2>
            <p>Nuestros carniceros cortan la carne el día que se surte el pedido.</p>
          </div>
        </div>
      </div>

      <div class="col mb-3">
        <div class="row d-flex justify-content-evenly align-items-center">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 6rem;">military_tech</mat-icon>
          </div>
          <div class="col-8">
            <h2 class="mb-1">Calidad de carne</h2>
            <p>Nuestros proveedores nos brindan las mejores carnes.</p>
          </div>
        </div>
      </div>

  </div>
</section>