<!-- CAROUSEL SOLO PARA PROMOCIONES Y PRODUCTOS -->
<div class="m-5"></div>

<div class="container-md p-0">
  <app-carousel-slide
    [communications]="communications"
  ></app-carousel-slide>
</div>

<div class="spacer"></div>

<section class="container mt-5">
    <h1 class="text-center">{{"Disfruta de tus comidas en familia" | uppercase}}</h1>
    <p>
        Sabor y suavidad natural, sin conservadores ni inyección de agua. La mejor calidad en carne fresca de res, cerdo, ternera y pollo directamente hasta tu hogar.
    </p>

</section>
<div>
  <app-fixed-image
    title="La mejor carne"
    url="assets/images/carne.png"
  ></app-fixed-image>
</div>

<div class="spacer"></div>

<section class="mt-5">
  <h1 class="text-center">{{"Categorias" | uppercase}}</h1>
  <p-carousel [value]="categories" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions"
    *ngIf="categories.length > 0 ; else skeletonCategories"
  >
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content p-2">
              <app-image-card
                  [title]="product.titulo"
                  titleBtn="Ver Productos"
                  [url]="url+product.idCategoria"
                  [urlImage]="product.urlImage"
              ></app-image-card>
            </div>
        </div>
    </ng-template>
  </p-carousel>
  <ng-template #skeletonCategories>
    <div class="grid">
      <div class="col">
        <p-skeleton height="6rem" styleClass="p-mb-2" borderRadius="16px"></p-skeleton>
      </div>
      <div class="col">
        <p-skeleton height="6rem" styleClass="p-mb-2" borderRadius="16px"></p-skeleton>
      </div>
      <div class="col">
        <p-skeleton height="6rem" styleClass="p-mb-2" borderRadius="16px"></p-skeleton>
      </div>
    </div>
  </ng-template>
</section>


  <!-- <div class="col-12 md:col-6 lg:col-4">

    <p-card style="padding: 0px!important;">
      <div class="p-0">
        <div>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">hola</span>
        </div>
      </div>

      Body Content

      <ng-template pTemplate="footer">
          <div class="flex justify-content-between align-items-center">
            <span class="product-price"><strong>$11.2</strong></span>
            <p-button icon="pi pi-shopping-cart"></p-button>
          </div>
      </ng-template>
    </p-card> -->
  

      <!-- <div class="product-grid-item card">
          <div class="product-grid-item-top">
              <div>
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="product-category">hola</span>
              </div>
          </div>
          <div class="product-grid-item-content">
              <img [src]="product.imgUrl" [alt]="product.titulo"/>
              <div class="product-name">hola</div>
              <div class="product-description">hola</div>
          </div>
          <div class="flex justify-content-between">
              <span class="product-price">$hola</span>
              <p-button icon="pi pi-shopping-cart"></p-button>
          </div>
      </div> 

  </div>-->

<div class="spacer"></div>

<section class="container mt-5">
  <h1 class="text-center">{{"Recomendaciones" | uppercase}}</h1>
  <div class="grid">
    <div 
      *ngFor= "let item of allProducts"
      class="col-12 md:col-5 lg:col-4 xl:col-3"
    >
      <app-product-card
        [id] = "item.product.idProducto"
        [imgUrl] = "item.product.imgUrl"
        [title] = "item.product.titulo"
        [description] = "item.product.descripcion"
        [stock] = "item.product.stock"
        [unidadMedida] = "item.unidadMedida.unidad"
        [minimaUnidad] = "item.product.minimaUnidad"
        [price] = "item.product.precio"
      ></app-product-card>
    </div>
  </div>
</section>

<div class="spacer"></div>

<section class="container mt-5 mb-5">
  <h1 class="text-center">{{"Confianza" | uppercase}}</h1>

  <div class="grid pt-5">
      
    <div class="col-12 md:col-4">
      <div class="flex">
        <div>
          <i class="pi pi-home" style="font-size: 6rem;"></i>
        </div>
        <div class="ms-3 flex align-items-center">
          <div>
            <h2 class="mb-1">Frescura</h2>
            <p>Nuestras carnes son 100% frescas y recién cortadas.</p>
          </div>
        </div>
      </div>
    </div>
      
    <div class="col-12 md:col-4">
      <div class="flex">
        <div>
          <i class="pi pi-thumbs-up" style="font-size: 6rem;"></i>
        </div>
        <div class="ms-3 flex align-items-center">
          <div>
            <h2 class="mb-1">Cortada al momento</h2>
            <p>Nuestros carniceros cortan la carne el día que se surte el pedido.</p>
          </div>
        </div>
      </div>
    </div>
      
    <div class="col-12 md:col-4">
      <div class="flex">
        <div>
          <i class="pi pi-heart-fill" style="font-size: 6rem;"></i>
        </div>
        <div class="ms-3 flex align-items-center">
          <div>
            <h2 class="mb-1">Calidad de carne</h2>
            <p>Nuestros proveedores nos brindan las mejores carnes.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-12">
      <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-3">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 6rem;">local_dining</mat-icon>
        </div>
        <div class="col-8">
          <h2 class="mb-1">Cortada a mano</h2>
          <p>Nuestros carniceros cortan la carne el día que se surte el pedido.</p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-3">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 6rem;">military_tech</mat-icon>
        </div>
        <div class="col-8">
          <h2 class="mb-1">Calidad de carne</h2>
          <p>Nuestros proveedores nos brindan las mejores carnes.</p>
        </div>
      </div>
    </div> -->

  </div>

</section>