<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    
    <span>Carniceria</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
</mat-toolbar>
  
<mat-sidenav-container fullscreen class="example-sidenav-container"
                        [style.marginTop.px]="56">
  <mat-sidenav #snav [mode]="'over'"
                [fixedInViewport]="'max-width: 600px'" fixedTopGap="56">
    <mat-nav-list>
      <div class="card">
        <div class="card-header" style="background-color: var(--primary-color);">
          <p style="color: var(--white-color);" class="m-0 fs-5 py-2">Categorias</p>
        </div>
      </div>
      <mat-accordion>
        <app-expansion-panel
          *ngFor = "let item of categoriesAccordion"
        [title]="item.category.titulo"
        [imageUrl]="item.category.urlImage"
        [subItem] = "item.subItem"
        url = "subcategoria"
        ></app-expansion-panel>
      </mat-accordion>

      <div class="card mt-5" style="width: 18rem;">
        <div 
          class="card-header d-flex justify-content-between align-items-center cursor-pointer"
          routerLink="promociones"
          >
          <p class="fs-5 m-0 p-2">Promociones</p>
          <mat-icon>navigate_next</mat-icon>
        </div>
        <div class="list-group list-group-flush">
          <app-nav-link
            title="Nosotros"
            urlNav="nosotros"
          ></app-nav-link>
          <app-nav-link
            title="Localidad"
            urlNav="localidad"
          ></app-nav-link>
        </div>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer [categories]="categories"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
