<div style="overflow-x: hidden;">

  <div style="max-width: 90rem; margin: 0 auto; width: 95%;">
    <app-header></app-header>
    <p-sidebar [(visible)]="display" [baseZIndex]="10000">
      <app-sidenav
        [categories]="categories"
        [_isLoadingCategory]="isLoading"
        (close)="display = false"
      ></app-sidenav>
    </p-sidebar>
    
    <p-megaMenu [model]="breakpoint('md') ? items : []">
      <button pButton pRipple type="button" label="Promociones" class="p-button-rounded p-button-success"></button>
      <!-- TODO: Esto viene con el modulo de recomendaciones -->
      <button pButton pRipple type="button" label="Día del padre" class="p-button-rounded p-button-info"></button>
    </p-megaMenu>
    
    <router-outlet></router-outlet>
  
    <div style="width: 100%; height: 1rem;"></div>
    <div class="footer-tabs animate__animated  animate__backInUp" *ngIf="!brakpoint('md')">
      <div class="card-tabs">
        <div class="tabs">
          <button pButton pRipple type="button" icon="pi pi-align-justify" class="p-button-rounded p-button-text" (click)="display = true"></button>
          <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-text"></button>
          <button pButton pRipple type="button" icon="pi pi-home" class="p-button-rounded p-button-text" routerLink="/"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer"></div>
  <app-footer [categories]="categories"></app-footer>
  
  
</div>





<!-- 
<mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    
    <span>Carniceria</span>
    <span class="example-spacer"></span>
    <button routerLink="carrito" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon [matBadgeHidden]="productsInCar == 0" [matBadge]="productsInCar" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
</mat-toolbar>
  
<mat-sidenav-container fullscreen class="example-sidenav-container"
                        [style.marginTop.px]="56">
  <mat-sidenav #snav [fixedInViewport]="'max-width: 600px'" fixedTopGap="56">
    <app-sidenav 
      (close) = "$event && snav.toggle()"
      [categoriesAccordion]="categoriesAccordion"
    ></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content style="width: 100vw!important;overflow-x: hidden">
    <router-outlet></router-outlet>
    <app-footer [categories]="categories"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
 -->