<mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    
    <span>Carniceria</span>
    <span class="example-spacer"></span>
    <button routerLink="carrito" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon [matBadgeHidden]="productsInCar == 0" [matBadge]="productsInCar" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
</mat-toolbar>
  
<mat-sidenav-container fullscreen class="example-sidenav-container"
                        [style.marginTop.px]="56">
  <mat-sidenav #snav [fixedInViewport]="'max-width: 600px'" fixedTopGap="56">
    <app-sidenav 
      (close) = "$event && snav.toggle()"
      [categoriesAccordion]="categoriesAccordion"
    ></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content style="width: 100vw!important;overflow-x: hidden">
    <router-outlet></router-outlet>
    <app-footer [categories]="categories"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
