<div class="grid">
    <div class="col-12 md:col-6">
        <div class="flex align-items-center flex-column px-5">
            <p-divider align="center" type="dashed">
                <h1 class="text-center mb-0" style="width: 100%;">Iré al Local</h1>
            </p-divider>

            <div></div><!-- INGRESAR AQUÍ COTIZACIÓN -->

            <div class="flex justify-content-evenly" style="width: 100%;">
                <p-button label="Imprimir" icon="pi pi-print"></p-button>
                <p-button label="Descargar" icon="pi pi-download" styleClass="p-button-success"></p-button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="flex align-items-center flex-column px-5 mt-7 md:mt-0">
            <p-divider align="center" type="dashed">
                <h1 class="text-center mb-0" style="width: 100%;">Directo a Mi Casa</h1>
            </p-divider>

            <div></div><!-- INGRESAR AQUÍ COTIZACIÓN -->

            <div class="flex justify-content-evenly" style="width: 100%;">
                <p-button label="Realizar Pedido" icon="pi pi-chevron-right" iconPos="right"></p-button>
            </div>
        </div>
    </div>
</div>