:root{
    --primary-color: #541313;
    --primary-color-light: #541313be;
    --black-color: #000;
    --white-color: #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    color: #780000;
    font-weight: 500!important;
}

.carousel .carousel-indicators li{
    margin: 0rem 0.5rem;
    width: 1rem!important;
    height: 1rem!important;
    background: rgba(255, 255, 255, 0.363);
}

.carousel-indicators .active{
    opacity: 1;
    background: #fff!important;
}

.sr-only{
    display: none!important;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover{
    cursor: pointer;
}

.cursor-pointer:hover{
    cursor: pointer;
    background-color: var(--primary-color-light);
    color: var(--white-color);
}

.categories-footer .mat-chip-list-wrapper{
    display: flex;
    justify-content: center;
}
.categories-footer .mat-chip.mat-standard-chip::after{
    background: unset;
}

@media (min-width: 576px) {
    .categories-footer .mat-chip-list-wrapper{
        display: flex;
        justify-content: start;
    }
}

.x-scroll-disabled {
	overflow-x: hidden;
}



/* Para el layout de administración */
.admOption .mat-list-item-content{
    width: 100%!important;
}

.layoutAdm mat-drawer-content{
    overflow-x: hidden!important;
}

.mat-sort-header-container{
    justify-content: center!important;
}

.expansion-admin-information .mat-expansion-panel-body {
    padding: 0px 16px !important;
}

/* PARA LA PARTE ADMINISTRATIVA DE  */
.tabNoSelectOnDisplay .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:rgb(255, 255, 255);
    background-color: var(--primary-color);
  }
    