:root{
    --primary-color: #541313;
    --black-color: #000;
    --white-color: #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    color: #780000;
    font-weight: 500!important;
}
