<p-card 
    header="Resumen de Orden"
    [style]="{width: '100%'}" 
    styleClass="p-card-shadow"
>
    <ng-template pTemplate="header">
        <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
    </ng-template>

    <div>
        <div class="item">
            <p class="mb-0"><strong>Descuento Total (sobre productos):</strong></p>
            <p class="mb-0">{{discount | currency}}</p>
        </div>
        <p-divider></p-divider>
    </div>

    <div>
        <div class="item">
            <p class="mb-0"><strong>Subtotal:</strong></p>
            <p class="mb-0">{{subTotal | currency}}</p>
        </div>
        <p-divider></p-divider>
    </div>

    <div>
        <div class="item">
            <p class="mb-0"><strong>Total:</strong></p>
            <p class="mb-0">{{total | currency}}</p>
        </div>
        <p-divider></p-divider>
    </div>

    <ng-template pTemplate="footer">
        <div class="text-center" routerLink="/venta">
            <p-button label="Terminar Compra" icon="pi pi-check"></p-button>
        </div>
    </ng-template>
</p-card>