@import '~@angular/material/theming';
@include mat-core();

$my-pcolor: (
    50 : #efe0e0,
    100 : #d7b3b3,
    200 : #bc8080,
    300 : #a14d4d,
    400 : #8c2626,
    500 : #780000,
    600 : #700000,
    700 : #650000,
    800 : #5b0000,
    900 : #480000,
    A100 : #ff7c7c,
    A200 : #ff4949,
    A400 : #ff1616,
    A700 : #fc0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-secundary: (
    50 : #f9f9f9,
    100 : #f1f1f1,
    200 : #e8e8e8,
    300 : #dfdfdf,
    400 : #d8d8d8,
    500 : #d1d1d1,
    600 : #cccccc,
    700 : #c6c6c6,
    800 : #c0c0c0,
    900 : #b5b5b5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #fff0f0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #fee0e0,
    100 : #fcb3b3,
    200 : #fb8080,
    300 : #f94d4d,
    400 : #f72626,
    500 : #f60000,
    600 : #f50000,
    700 : #f30000,
    800 : #f20000,
    900 : #ef0000,
    A100 : #ffffff,
    A200 : #ffe3e3,
    A400 : #ffb0b0,
    A700 : #ff9696,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-palette-primary: mat-palette($my-pcolor);
$my-palette-accent: mat-palette($md-secundary);
$my-palette-warn: mat-palette($md-warn);

$my-theme : mat-light-theme((
    color: (
        primary: $my-palette-primary,
        accent: $my-palette-accent,
        warn: $my-palette-warn
    )
));

@include angular-material-theme($my-theme);

.custom-container .mat-dialog-container{
    border-radius: 20px!important;
}

.mat-expansion-panel-body {
    padding: 0px 0px 0px 20px!important;
}